@charset "UTF-8";
/* 초기화 */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&family=Source+Sans+Pro&display=swap');

* {
    margin: 0; padding: 0;
}
a { text-decoration: none !important; color: black;}
img { border: 0; }
ul { list-style: none; }

html{font-size: 20px}

body{
    margin: 0;
    font-family: 'PT Sans Narrow';
    font-size: 1rem;
    background-color: rgb(238, 231, 207);
}

/* 헤더 꾸미기 */
header > .header {
    height: 120px;
    background: #FAF0BF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999999;
}

.header > .top_nav {
    padding-top: 20px;
    overflow: hidden;
    width: 700px;
    margin: 0 auto;
} 

.header > .top_nav > div {
    float: left;
}

.header > .bottom_nav {
    position: relative;
}

.header > .bottom_nav > ul {
    position: absolute;
    right: 0;
}

.header ul {
    overflow: hidden;
}

.header ul > li {
    float: left;
    margin-right: 10px;
}

.main_container {
    /* position: relative; */
}

/* 푸터 꾸미기   */
