                                               @charset "UTF-8";
/* 초기화 */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&family=Source+Sans+Pro&display=swap');

* {
    margin: 0; padding: 0;
}
a { text-decoration: none !important; color: black;}
img { border: 0; }
ul { list-style: none; }

html{font-size: 20px}

body{
    margin: 0;
    font-family: 'PT Sans Narrow';
    font-size: 1rem;
    background-color: rgb(238, 231, 207);
}

/* 헤더 꾸미기 */
header > .header {
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999999;
    background-color:rgba(255, 255, 255, 0.1);
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
}

.header > .top_nav {
    padding-top: 25px;
    overflow: hidden;
    width: 700px;
    margin: 0 auto;
} 

.header > .top_nav > div {
    float: left;
}

.header > .bottom_nav {
    position: relative;
}

.header > .bottom_nav > ul {
    position: absolute;
    right: 0;
}

.header  .top_nav  .logo img{
    position: absolute;
    float: left;
    left: 50px;
    width: 200px;
    top: 10px;
}

.header ul {
    overflow: hidden;
}

.header ul > li {
    float: left;
    left: 20px;
    padding: 0 30px 0 0;
}

.header_menu2{
    font-size: 15px;
    top:20px;
}

.header_menu2 li a:hover{
    color: #f0c436;
}

.header_menu1{
    font-size: 18px;
    padding: 20px 20px 0px 0;
}

.header_menu1 li {
    position: relative;
    left: 90px;
}


.header .main_menu .header_menu1 li a:hover{
    display:block;
    content: '';
    border-bottom: solid 3px #f0c436;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    
}

.header .main_menu .header_menu1 li a:hover:after { transform: scaleX(1); }

.header .main_menu .header_menu1 li a.fromRight:after{ transform-origin:100% 50%; }
.header .main_menu .header_menu1 li a.fromLeft:after{  transform-origin:  0% 50%; }


.toggle_btn {
    position: absolute;
    display: none;
}

.menu1_btn a{
    position: absolute;
    display: none;  
}

.down {
    background-color:rgba(48, 46, 46, 0.8);
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
}

/* 푸터 꾸미기   */

#footer{
    position: relative;
    background-color: rgb(148, 140, 140);
    height: 300px;
    overflow: hidden;
}

#footer .footer_name img{
    position: absolute;
    float: left;
    left: 10px;
}

#footer .footer_text li a{
    position: relative;
    float: left;
    padding: 90px 20px 20px 0;
    left: 10px;
    color: white;
    font-size: 20px;
}
#footer .footer_text li a:hover{
    color: black;
}

#footer div address{
    position: absolute;
    float: left;
    left: 45px;
    color: white;
    font-size: 20px;
    
}



#footer .select option{
    position: relative;
    float: left;
    left: 50px;
    background: lightcoral;
    color: #fff;
    bottom: 0px;
    font-size: 16px;
}

#footer .sns li a{
    position: absolute;
    float: right;
    right: 5px;
}

#footer .sns li a:hover{
    color: rgb(245, 242, 92);
}

#footer .help p{
    position: relative;
    float: right;
    right: 60px;
    color: white;
}


/* PC (해상도 1024px)*/


@media all and (min-width:1024px) and (max-width:1200px) {
    .header .top_nav .logo img{
        position: absolute;
        float: left;
        left: 0;
        width: 150px;
    } 

    .menu1_btn a{
        position: absolute;
        display: none;  
    }

}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .header .top_nav .logo img{
        position: absolute;
        float: left;
        left: 0;
        width: 150px;
    } 

    .header > .top_nav {
        padding-top: 25px;
        overflow: hidden;
        width: 500px;
        margin: 0 auto;
    } 

    .header ul > li {
        float: left;
        margin-right: 10px;
        padding: 0 5px 0 0;
    }

    .header > .top_nav > div {
        float: right;
    }
    
    .menu1_btn a{
        position: absolute;
        display: none;  
    }

}

/* 모바일 가로, 모바일 세로 (해상도 ~ 767px)*/
@media all and (max-width:767px) {
    .header_menu1{
        display: none;
    }
        
    .header_menu2 a{
            display: none;
            float: none;
        }

    .header .top_nav .logo img{
            position: absolute;
            float: left;
            left: 0;
        }
    header > .header{
            background: rgb(255, 255, 255);
            height: 100px;
        }
        
        
    .header_menu1 li {
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        width: 100%;
        }

    .toggle_btn{
        position: absolute;
        right: 30px;
        }

    .main_menu .menu1_btn a i{
        position: absolute;
        display: none;
    }
        
    .header_menu.active,
    .header_icons.active {
        display: flex;
    }

/* 푸터 */

    #footer{
        width: 100%;
        height: 80px;
        background: rgb(255, 255, 255);
    }
    #footer .footer_name{
        display: none;
    }
    #footer .footer_text{
        display: none;
    }
    #footer .sns{
        display: none;
    }
    #footer .help{
        display: none;
    }
    #footer .address{
        display: none;
    }
    #footer .select{
        display: none;
    }
    #footer .mobile_footer{
        position: relative;
        text-align: center;
    }

    #footer .mobile_footer a i{
        text-align: center;
        right: 2px;
        font-size: 20px;
        padding: 10px 40px 0px 20px;
    }

    #footer .mobile_footer a i:hover{
        color: rgb(149, 223, 66);
    }

    #footer .mobile_footer img{ 
        width: 50px;
        position: relative;
        bottom: -20px;
    }
}

