@charset "UTF-8";
/* 초기화 */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&display=swap');

header > .main_video {
    position: relative;
    top: 0;
}

header > .main_video > video {
    width: 100%;
}

header > .main_video > .video_text{
    position: absolute;
    float: right;
    right: 40px;
    top: 650px;
    font-family: 'Patrick Hand', cursive;
    color: #FFFFFF;
    font-size: 144px;
    line-height: 130px;
}

/* 검색창 */


#search_sec {
    height: 700px;
    text-align: center;
    background: #e0da95;
}

#search_sec >.search_background > img {
    width: 1600px;
}

/* 베스트 슬라이더 */
#best_sec .swiper-container {
    width: 100%;
    height: 500px;
    background: coral;
}

#best_sec .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: coral;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* new 슬라이더 */
#new_sec .swiper-container {
    width: 100%;
    height: 500px;
    background: rgb(181, 218, 134);
}

#new_sec .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(181, 247, 137);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#pet_so_sec {
    overflow: hidden;
}

#pet_so_sec > div {
    float: left;
}

#pet_so_sec > .petsoshic > img {
    margin-left: 50px;
    width: 700px;
}

#pet_so_sec > .petsoshic_ex {
    width: calc(100% - 750px);
}

#pet_so_sec > .petsoshic_ex > .explain {
    background: white;
    /* width: 100%; */
}

#event_slider .swiper-container {
    width: 100%;
    height: 100%;
}
#event_slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}