                                               @charset "UTF-8";
/* 초기화 */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&family=Source+Sans+Pro&display=swap');

* {
    margin: 0; padding: 0;
}
a { text-decoration: none !important; color: black;}
img { border: 0; }
ul { list-style: none; }

html{font-size: 20px}

body{
    margin: 0;
    font-family: 'PT Sans Narrow';
    font-size: 1rem;
    background-color: rgb(238, 231, 207);
}


#header .swiper-container {
    width: 100%;
    height: 100%;
}
#header .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media all and (min-width:1024px) and (max-width:1200px) {
    

}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    

}

/* 모바일 가로, 모바일 세로 (해상도 ~ 767px)*/
@media all and (max-width:767px) {
  
}

